@media (min-width: 1200px) {
  html body {
    font-family: "Roboto", sans-serif; }
    html body #header .header__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      html body #header .header__wrap .header__left div {
        width: 300px; }
    html body footer {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 13px;
      background-color: #003478;
      color: white; }
      html body footer .footer-bot {
        margin-top: 20px; }
      html body footer .row {
        align-items: center; }
        html body footer .row .col-md-3 {
          border-right: 1px dotted white; }
      html body footer .footer-bot {
        display: flex;
        align-items: center; }
    html body .me-form-login {
      position: fixed;
      z-index: 10;
      display: none;
      justify-content: center;
      top: 10%;
      left: 38%; }
      html body .me-form-login .login-card .btn-signin {
        background: #003478; }
        html body .me-form-login .login-card .btn-signin:hover {
          background: #F8825D; }
    html body .btn-close {
      position: absolute;
      top: 5px;
      right: 0px;
      border-radius: 50%;
      width: 30px;
      height: 30px; }
    html body .endl {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center; }
      html body .endl div {
        margin-bottom: 0; }
    html body .top {
      background: #003478; }
      html body .top .container .row ul {
        margin: 0;
        height: 30px;
        line-height: 15px; }
        html body .top .container .row ul .search-container form input {
          width: 250px; }
        html body .top .container .row ul li {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          padding: 5px; }
          html body .top .container .row ul li:last-child {
            padding-right: 140px; }
          html body .top .container .row ul li a {
            font-size: 14px;
            color: white; }
        html body .top .container .row ul #ho_ten a {
          color: white; }
    html body .logo-menu {
      z-index: 99;
      background-color: white;
      height: 100px; }
      html body .logo-menu .container {
        height: 100%; }
        html body .logo-menu .container .row {
          height: 100%; }
          html body .logo-menu .container .row .left {
            display: flex;
            align-items: center; }
          html body .logo-menu .container .row .right {
            display: flex;
            justify-content: flex-end;
            align-items: center; }
            html body .logo-menu .container .row .right .show-menu-btn {
              transition: 0.4s;
              font-size: 30px;
              cursor: pointer;
              display: none;
              float: right;
              margin: 0; }
              html body .logo-menu .container .row .right .show-menu-btn i {
                border: 1px solid black;
                border-radius: 5px;
                padding: 0 5px; }
              html body .logo-menu .container .row .right .show-menu-btn:hover {
                color: #3498db; }
            html body .logo-menu .container .row .right #chk {
              position: absolute;
              visibility: hidden;
              z-index: -1111; }
            html body .logo-menu .container .row .right .menu {
              height: 98px;
              align-items: center;
              display: flex;
              padding-left: 0;
              margin: 0; }
              html body .logo-menu .container .row .right .menu li {
                height: 98px;
                line-height: 98px;
                list-style: none;
                padding-left: 5px; }
              html body .logo-menu .container .row .right .menu .language {
                display: none; }
              html body .logo-menu .container .row .right .menu a {
                font-size: 14px;
                color: black;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0 5px;
                font-weight: bold;
                transition: 0.4s; }
                html body .logo-menu .container .row .right .menu a:hover {
                  color: #3498db; }
              html body .logo-menu .container .row .right .menu .hide-menu-btn {
                transition: 0.4s;
                font-size: 30px;
                cursor: pointer;
                display: none; }
                html body .logo-menu .container .row .right .menu .hide-menu-btn:hover {
                  color: #3498db; }
              html body .logo-menu .container .row .right .menu .dropdown {
                position: relative; }
                html body .logo-menu .container .row .right .menu .dropdown:hover > .dropdown-menu {
                  display: block;
                  top: 98px;
                  opacity: 0.9;
                  visibility: visible; }
                html body .logo-menu .container .row .right .menu .dropdown:active > .dropdown-menu {
                  display: block;
                  top: 98px;
                  opacity: 0.7;
                  visibility: visible; }
                html body .logo-menu .container .row .right .menu .dropdown .dropdown-menu {
                  left: 50%;
                  right: auto;
                  transform: translateX(-50%);
                  position: absolute;
                  top: 70px;
                  padding-left: 10px;
                  padding-right: 10px;
                  z-index: 999;
                  background: black;
                  display: block;
                  opacity: 0;
                  visibility: hidden;
                  transition: top 0.3s, opacity 0.5s ease, visibility 0.7s ease; }
                  html body .logo-menu .container .row .right .menu .dropdown .dropdown-menu .dropright:hover .dkm {
                    display: block;
                    margin-top: -15px;
                    opacity: 1; }
                  html body .logo-menu .container .row .right .menu .dropdown .dropdown-menu .dropright:active .dkm {
                    display: block;
                    margin-top: -15px;
                    opacity: 1; }
                  html body .logo-menu .container .row .right .menu .dropdown .dropdown-menu .dkm {
                    position: absolute;
                    opacity: 0;
                    margin-left: 216px;
                    top: 0;
                    margin-top: -30px;
                    transition: 0.3s; }
                  html body .logo-menu .container .row .right .menu .dropdown .dropdown-menu .dkm1 {
                    left: 19%; }
                  html body .logo-menu .container .row .right .menu .dropdown .dropdown-menu .dkm2 {
                    left: 21%; }
                  html body .logo-menu .container .row .right .menu .dropdown .dropdown-menu a {
                    height: 30px;
                    line-height: 15px;
                    color: white;
                    padding-top: 10px;
                    margin: 10px auto;
                    font-size: 14px;
                    text-transform: none; }
                html body .logo-menu .container .row .right .menu .dropdown > .dropdown-toggle:active {
                  pointer-events: none; } }
@media (max-width: 1200px) {
  html html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
    html html body #ho_ten.dropdown {
      margin-top: 2px; }
    html html body #header .header__wrap {
      display: flex;
      flex-direction: column; }
      html html body #header .header__wrap .header__left {
        margin-top: 20px;
        text-align: center; }
    html html body .me-form-login {
      position: fixed;
      z-index: 10;
      display: none;
      justify-content: center;
      top: 10%;
      left: 11%; }
    html html body .btn-close {
      position: absolute;
      top: 5px;
      right: 0px;
      border-radius: 50%;
      width: 30px;
      height: 30px; }
    html html body footer {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 13px;
      background-color: #003478;
      color: white; }
      html html body footer .footer-bot {
        margin-top: 20px;
        text-align: center; }
        html html body footer .footer-bot img {
          text-align: center;
          margin-bottom: 20px; }
        html html body footer .footer-bot p {
          text-align: start; }
    html html body main.xthb .process p {
      display: none; }
    html html body .endl div {
      margin-top: 20px; }
    html html body .top {
      background-color: #374090; }
      html html body .top .container .row {
        background-color: #374090; }
        html html body .top .container .row ul .search-container form input {
          width: auto; }
        html html body .top .container .row .menu {
          padding-left: 20px; }
      html html body .top .container #top {
        display: flex;
        justify-content: center;
        align-items: center; }
        html html body .top .container #top ul li {
          list-style: none; }
          html html body .top .container #top ul li a {
            color: white; }
        html html body .top .container #top ul .mm {
          display: none; }
    html html body .logo-menu .container .row input {
      display: none; }
    html html body .logo-menu .container .row .left img {
      transform: scale(0.8, 0.8); }
    html html body .logo-menu .container .row .right {
      display: block; }
      html html body .logo-menu .container .row .right #chk:checked ~ .menu {
        right: 0; }
      html html body .logo-menu .container .row .right .show-menu-btn {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        right: 100%; }
      html html body .logo-menu .container .row .right .menu {
        flex-direction: column;
        position: fixed;
        width: 80%;
        height: 100vh;
        background: white;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        overflow-y: scroll;
        flex-direction: column; }
        html html body .logo-menu .container .row .right .menu .dropdown-toggle:focus .dropdown-menu {
          display: inherit; }
        html html body .logo-menu .container .row .right .menu #dropdownMenu {
          font-weight: bold; }
          html html body .logo-menu .container .row .right .menu #dropdownMenu:focus .dropdown-menu {
            display: inherit; }
        html html body .logo-menu .container .row .right .menu .dropdown-menu {
          position: static;
          border: none;
          top: 0px; }
          html html body .logo-menu .container .row .right .menu .dropdown-menu .dkm {
            padding-left: 10px; }
            html html body .logo-menu .container .row .right .menu .dropdown-menu .dkm a {
              font-size: 13px; }
          html html body .logo-menu .container .row .right .menu .dropdown-menu #dropdown-layouts {
            font-weight: bold; }
        html html body .logo-menu .container .row .right .menu #mother {
          margin: 0;
          padding: 0; }
        html html body .logo-menu .container .row .right .menu li {
          display: inline-block;
          list-style: none;
          height: 30px;
          line-height: 30px;
          width: 100%;
          text-align: start;
          padding-left: 20px; }
        html html body .logo-menu .container .row .right .menu .language {
          display: flex;
          flex-direction: row;
          justify-content: center; }
          html html body .logo-menu .container .row .right .menu .language a {
            text-decoration: none;
            height: 30px;
            padding: 5px;
            display: block; }
        html html body .logo-menu .container .row .right .menu a {
          text-decoration: none;
          display: block;
          color: black; }
        html html body .logo-menu .container .row .right .menu .hide-menu-btn {
          display: block;
          position: absolute;
          top: 40px;
          right: 40px; }
    html html body .slider .owl-prev {
      width: 30px;
      height: 30px; }
    html html body .slider .owl-next {
      width: 30px;
      height: 30px; } }

/*# sourceMappingURL=1.css.map */
