$maunentop: #003478;
html {
    // margin: 0;
    // padding: 0;
    // font-size: 10px;
    @media (min-width: 1200px) {
        body {
            #header {
                .header__wrap {
                    .header__left {
                        // margin-top: 20px;
                        div {
                            width: 300px;
                        }
                    }
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            footer {
                .footer-bot {
                    margin-top: 20px;
                }
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 13px;
                background-color: $maunentop;
                color: white;
                .row {
                    // margin-top: 20px;
                    align-items: center;
                    .col-md-3 {
                        border-right: 1px dotted white;
                    }
                }
                .footer-bot {
                    display: flex;
                    align-items: center;
                }
            }
            //login
            .me-form-login {
                position: fixed;
                z-index: 10;
                display: none;
                justify-content: center;
                top: 10%;
                left: 38%;
                .login-card {
                    .btn-signin {
                        // &:hover {
                        background: #003478;
                        // background-color: red;
                        &:hover {
                            background: #F8825D;
                        }
                        // }
                    }
                }
            }
            .btn-close {
                position: absolute;
                top: 5px;
                right: 0px;
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }
            //
            .endl {
                display: flex;
                margin-top: 20px;
                margin-bottom: 20px;
                justify-content: center;
                align-items: center;
                div {
                    margin-bottom: 0;
                }
            }
            // background-color: red;
            font-family: "Roboto",
            sans-serif;
            .top {
                background: $maunentop;
                .container {
                    .row {
                        ul {
                            .search-container {
                                form {
                                    input {
                                        width: 250px;
                                    }
                                }
                            }
                            margin: 0;
                            height: 30px;
                            line-height: 15px;
                            //   border: 1px solid black;
                            li {
                                // border: 1px solid black;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                list-style: none;
                                padding: 5px;
                                &:last-child {
                                    padding-right: 140px;
                                }
                                a {
                                    font-size: 14px;
                                    color: white;
                                    //   display: flex;
                                    //   justify-content: center;
                                    //   align-items: center;
                                    img {}
                                }
                            }
                            #ho_ten {
                                a {
                                    color: white;
                                }
                            }
                        }
                    }
                    // #top {
                    //     // display: flex;
                    //     // justify-content: center;
                    //     // align-items: center;
                    //     // margin: 0;
                    //     ul {
                    //         li {
                    //             list-style: none;
                    //             a {
                    //                 color: white;
                    //             }
                    //         }
                    //         // .mm {
                    //         //     display: none;
                    //         // }
                    //     }
                    // }
                }
            }
            .logo-menu {
                z-index: 99;
                background-color: white;
                //   background: yellow;
                height: 100px;
                // border: 1px solid black;
                .container {
                    // border: 1px solid black;
                    height: 100%;
                    .row {
                        height: 100%;
                        .left {
                            //   position: relative;
                            //   border: 1px solid black;
                            //   text-align: center;
                            display: flex;
                            align-items: center;
                            //   justify-content: center ;
                            img {
                                // position: absolute;
                                // top: 50%;
                                // left: 50%;
                                // margin-right: -50%;
                                // transform: translate(-50%, -50%);
                                // margin: 0;
                            }
                        }
                        .right {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            .show-menu-btn {
                                transition: 0.4s;
                                font-size: 30px;
                                cursor: pointer;
                                display: none;
                                float: right;
                                margin: 0;
                                i {
                                    //   line-height: 100px;
                                    border: 1px solid black;
                                    border-radius: 5px;
                                    padding: 0 5px;
                                }
                                &:hover {
                                    color: #3498db;
                                }
                            }
                            #chk {
                                position: absolute;
                                visibility: hidden;
                                z-index: -1111;
                            }
                            .menu {
                                height: 98px;
                                align-items: center;
                                // font-size: 10px;
                                display: flex;
                                li {
                                    height: 98px;
                                    line-height: 98px;
                                    //   align-items: center;
                                    list-style: none;
                                    padding-left: 5px;
                                }
                                .language {
                                    display: none;
                                }
                                padding-left: 0;
                                //   border: 1px solid black;
                                margin: 0;
                                a {
                                    font-size: 14px;
                                    color: black;
                                    text-transform: uppercase;
                                    text-decoration: none;
                                    padding: 0 5px;
                                    font-weight: bold;
                                    transition: 0.4s;
                                    &:hover {
                                        color: #3498db;
                                    }
                                }
                                .hide-menu-btn {
                                    transition: 0.4s;
                                    font-size: 30px;
                                    cursor: pointer;
                                    display: none;
                                    &:hover {
                                        color: #3498db;
                                    }
                                }
                                .dropdown {
                                    position: relative;
                                    &:hover {
                                        // transition: 0.5s;
                                        >.dropdown-menu {
                                            display: block;
                                            top: 98px;
                                            opacity: 0.9;
                                            visibility: visible;
                                            //   width: 500px;
                                            // transition: 1s;
                                            // background-color: red;
                                            // margin-top: 38px;
                                            // padding-top: 10px;
                                        }
                                    }
                                    &:active {
                                        >.dropdown-menu {
                                            display: block;
                                            top: 98px;
                                            opacity: 0.7;
                                            visibility: visible;
                                            //   width: 500px;
                                            // transition: 1s;
                                            // background-color: red;
                                            // margin-top: 38px;
                                            // padding-top: 10px;
                                        }
                                    }
                                    //   transition: 0.7s;
                                    //   line-height: 90px;
                                    //   height: 10px;
                                    //   height: 100%;
                                    .dropdown-menu {
                                        left: 50%;
                                        right: auto;
                                        transform: translateX(-50%);
                                        .dropright {
                                            &:hover {
                                                .dkm {
                                                    display: block;
                                                    margin-top: -15px;
                                                    opacity: 1;
                                                }
                                            }
                                            &:active {
                                                .dkm {
                                                    display: block;
                                                    margin-top: -15px;
                                                    opacity: 1;
                                                }
                                            }
                                        }
                                        // position: relative;
                                        .dkm {
                                            position: absolute;
                                            opacity: 0;
                                            // background-color: red;
                                            margin-left: 216px;
                                            // right: 0;
                                            top: 0;
                                            margin-top: -30px;
                                            transition: 0.3s;
                                        }
                                        .dkm1 {
                                            left: 19%;
                                        }
                                        .dkm2 {
                                            left: 21%;
                                        }
                                        //     display: block;
                                        //     opacity: 0;
                                        //     visibility: hidden;
                                        position: absolute;
                                        top: 70px;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        // width: 300px;
                                        z-index: 999;
                                        background: black;
                                        //   opacity: 0.65;
                                        //   transition: 0.2s;
                                        display: block;
                                        opacity: 0;
                                        visibility: hidden;
                                        // -webkit-transform: translate3d(0,0,0);
                                        // -moz-transform: translate3d(0,0,0);
                                        // transform: translate3d(0,0,0);
                                        // -webkit-transition: opacity .35s ease, visibility .35s ease;
                                        // -moz-transition: opacity .35s ease, visibility .35s ease;
                                        // -o-transition: opacity .35s ease, visibility .35s ease;
                                        transition: top 0.3s,
                                        opacity 0.5s ease,
                                        visibility 0.7s ease;
                                        a {
                                            height: 30px;
                                            line-height: 15px;
                                            color: white;
                                            padding-top: 10px;
                                            margin: 10px auto;
                                            // margin: auto 10px;
                                            font-size: 14px;
                                            text-transform: none;
                                            //   &:first-child{
                                            //       padding-top: 35px;
                                            //   }
                                        }
                                    }
                                    #dropdown-layouts {
                                        &:hover {}
                                    }
                                    >.dropdown-toggle {
                                        &:active {
                                            pointer-events: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .owl-carousel {
                .owl-stage-outer {}
                .owl-controls {
                    .owl-nav {
                        .owl-prev {}
                        .owl-next {}
                    }
                }
            }
        }
    }
    @import "1mobile.scss";
}