@media (max-width: 1200px) {
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
    html body #ho_ten.dropdown {
      margin-top: 2px; }
    html body #header .header__wrap {
      display: flex;
      flex-direction: column; }
      html body #header .header__wrap .header__left {
        margin-top: 20px;
        text-align: center; }
    html body .me-form-login {
      position: fixed;
      z-index: 10;
      display: none;
      justify-content: center;
      top: 10%;
      left: 11%; }
    html body .btn-close {
      position: absolute;
      top: 5px;
      right: 0px;
      border-radius: 50%;
      width: 30px;
      height: 30px; }
    html body footer {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 13px;
      background-color: #003478;
      color: white; }
      html body footer .footer-bot {
        margin-top: 20px;
        text-align: center; }
        html body footer .footer-bot img {
          text-align: center;
          margin-bottom: 20px; }
        html body footer .footer-bot p {
          text-align: start; }
    html body main.xthb .process p {
      display: none; }
    html body .endl div {
      margin-top: 20px; }
    html body .top {
      background-color: #374090; }
      html body .top .container .row {
        background-color: #374090; }
        html body .top .container .row ul .search-container form input {
          width: auto; }
        html body .top .container .row .menu {
          padding-left: 20px; }
      html body .top .container #top {
        display: flex;
        justify-content: center;
        align-items: center; }
        html body .top .container #top ul li {
          list-style: none; }
          html body .top .container #top ul li a {
            color: white; }
        html body .top .container #top ul .mm {
          display: none; }
    html body .logo-menu .container .row input {
      display: none; }
    html body .logo-menu .container .row .left img {
      transform: scale(0.8, 0.8); }
    html body .logo-menu .container .row .right {
      display: block; }
      html body .logo-menu .container .row .right #chk:checked ~ .menu {
        right: 0; }
      html body .logo-menu .container .row .right .show-menu-btn {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        right: 100%; }
      html body .logo-menu .container .row .right .menu {
        flex-direction: column;
        position: fixed;
        width: 80%;
        height: 100vh;
        background: white;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        overflow-y: scroll;
        flex-direction: column; }
        html body .logo-menu .container .row .right .menu .dropdown-toggle:focus .dropdown-menu {
          display: inherit; }
        html body .logo-menu .container .row .right .menu #dropdownMenu {
          font-weight: bold; }
          html body .logo-menu .container .row .right .menu #dropdownMenu:focus .dropdown-menu {
            display: inherit; }
        html body .logo-menu .container .row .right .menu .dropdown-menu {
          position: static;
          border: none;
          top: 0px; }
          html body .logo-menu .container .row .right .menu .dropdown-menu .dkm {
            padding-left: 10px; }
            html body .logo-menu .container .row .right .menu .dropdown-menu .dkm a {
              font-size: 13px; }
          html body .logo-menu .container .row .right .menu .dropdown-menu #dropdown-layouts {
            font-weight: bold; }
        html body .logo-menu .container .row .right .menu #mother {
          margin: 0;
          padding: 0; }
        html body .logo-menu .container .row .right .menu li {
          display: inline-block;
          list-style: none;
          height: 30px;
          line-height: 30px;
          width: 100%;
          text-align: start;
          padding-left: 20px; }
        html body .logo-menu .container .row .right .menu .language {
          display: flex;
          flex-direction: row;
          justify-content: center; }
          html body .logo-menu .container .row .right .menu .language a {
            text-decoration: none;
            height: 30px;
            padding: 5px;
            display: block; }
        html body .logo-menu .container .row .right .menu a {
          text-decoration: none;
          display: block;
          color: black; }
        html body .logo-menu .container .row .right .menu .hide-menu-btn {
          display: block;
          position: absolute;
          top: 40px;
          right: 40px; }
    html body .slider .owl-prev {
      width: 30px;
      height: 30px; }
    html body .slider .owl-next {
      width: 30px;
      height: 30px; } }

/*# sourceMappingURL=1mobile.css.map */
