 $maunentop: #003478;
 @media (max-width: 1200px) {
     html {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         body {
             #ho_ten.dropdown {
                 margin-top: 2px;
             }
             #header {
                 //  margin-top: 30px;
                 .header__wrap {
                     .header__left {
                         margin-top: 20px;
                         text-align: center;
                     }
                     display: flex;
                     flex-direction: column;
                 }
             }
             .me-form-login {
                 position: fixed;
                 z-index: 10;
                 display: none;
                 justify-content: center;
                 top: 10%;
                 left: 11%;
             }
             .btn-close {
                 position: absolute;
                 top: 5px;
                 right: 0px;
                 border-radius: 50%;
                 width: 30px;
                 height: 30px;
             }
             footer {
                 padding-top: 20px;
                 padding-bottom: 20px;
                 font-size: 13px;
                 background-color: $maunentop;
                 color: white;
                 .row {
                     // margin-top: 20px;
                 }
                 .footer-bot {
                     margin-top: 20px;
                     text-align: center;
                     // display: flex;
                     // align-items: center;
                     // flex-direction: row;
                     img {
                         text-align: center;
                         margin-bottom: 20px;
                     }
                     p {
                         // margin-top: 20px;
                         text-align: start;
                     }
                 }
             }
             main.xthb {
                 .process {
                     p {
                         display: none;
                     }
                 }
             }
             .endl {
                 div {
                     margin-top: 20px;
                 }
             }
             .top {
                 background-color: #374090;
                 // display: block;
                 // display: none;
                 .container {
                     // margin: 0;
                     .row {
                         background-color: #374090;
                         ul {
                             // display: block;
                             .search-container {
                                 form {
                                     input {
                                         width: auto;
                                     }
                                 }
                             }
                         }
                         .menu {
                             padding-left: 20px;
                         }
                     }
                     #top {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         // margin: 0;
                         ul {
                             li {
                                 list-style: none;
                                 a {
                                     color: white;
                                 }
                             }
                             .mm {
                                 display: none;
                             }
                         }
                     }
                 }
             }
             // background: red;
             .logo-menu {
                 // background: red;
                 .container {
                     .row {
                         input {
                             display: none;
                         }
                         .left {
                             img {
                                 // height: auto;
                                 // width: 80%;
                                 // max-width: 100%;
                                 // max-height: 100%;
                                 transform: scale(0.8, 0.8);
                             }
                         }
                         .right {
                             display: block;
                             #chk {
                                 &:checked {
                                     ~.menu {
                                         right: 0;
                                     }
                                 }
                             }
                             .show-menu-btn {
                                 display: block;
                                 position: absolute;
                                 top: 50%;
                                 left: 50%;
                                 margin-right: -50%;
                                 transform: translate(-50%, -50%);
                                 right: 100%;
                                 //   margin-left: auto;
                                 //   margin-right: auto;
                                 //   right:0;
                                 //   top: 0;
                             }
                             .menu {
                                 flex-direction: column;
                                 position: fixed;
                                 width: 80%;
                                 height: 100vh;
                                 background: white;
                                 right: -100%;
                                 top: 0;
                                 text-align: center;
                                 padding: 80px 0;
                                 line-height: normal;
                                 transition: 0.7s;
                                 overflow-y: scroll;
                                 .dropdown-toggle {
                                     &:focus {
                                         .dropdown-menu {
                                             display: inherit;
                                         }
                                     }
                                 }
                                 #dropdownMenu {
                                     font-weight: bold;
                                     &:focus {
                                         .dropdown-menu {
                                             display: inherit;
                                         }
                                     }
                                 }
                                 .dropdown-menu {
                                     .dkm {
                                         padding-left: 10px;
                                         a {
                                             font-size: 13px;
                                         }
                                     }
                                     #dropdown-layouts {
                                         font-weight: bold;
                                     }
                                     position: static;
                                     // display: none;
                                     border: none;
                                     // visibility: hidden;
                                     top: 0px;
                                     // display: flex;
                                     // flex-direction: column;
                                     // ;
                                     // .dropright:active {
                                     //     .dropdown-menu {
                                     //         display: none;
                                     //     }
                                     // }
                                 }
                                 #mother {
                                     margin: 0;
                                     padding: 0;
                                 }
                                 li {
                                     // position: relative;
                                     display: inline-block;
                                     list-style: none;
                                     height: 30px;
                                     line-height: 30px;
                                     width: 100%;
                                     text-align: start;
                                     padding-left: 20px;
                                 }
                                 flex-direction: column;
                                 .language {
                                     display: flex;
                                     flex-direction: row;
                                     justify-content: center;
                                     a {
                                         // color: black;
                                         text-decoration: none;
                                         height: 30px;
                                         padding: 5px;
                                         display: block;
                                     }
                                 }
                                 a {
                                     text-decoration: none;
                                     display: block;
                                     // padding: 20px;
                                     // height: 20px;
                                     color: black;
                                 }
                                 .hide-menu-btn {
                                     display: block;
                                     position: absolute;
                                     top: 40px;
                                     right: 40px;
                                 }
                             }
                         }
                     }
                 }
             }
             .slider {
                 .owl-prev {
                     width: 30px;
                     height: 30px;
                 }
                 .owl-next {
                     width: 30px;
                     height: 30px;
                 }
             }
         }
     }
 }