/* ************FOOTER************* */

#footer {
    background: #003478;
    color: #fff;
    border-top: 5px solid #335c85;
    padding: 30px 0;
}

#footer .footer__wrapp {
    display: flex;
}

#footer #footer__left {
    flex: 0 0 70%;
    width: 70%;
}

#footer #footer__left .address-warpp {
    display: flex;
}

#footer #footer__left .address-warpp .address {
    width: 50%;
    font-weight: 700;
}

#footer__left .address-warpp .address h1 {
    font-size: 15px;
    font-weight: 700;
}

#footer #footer__right {
    flex-grow: 1;
}

#footer #footer__right .social-icons {
    display: flex;
}

#footer #footer__right .social-icons i {
    color: #fff;
}

#footer__right .social-icons i {
    margin-left: 15px;
    font-size: 3em;
}

#footer__right .social-icons i:hover {
    transition-timing-function: ease-in;
    transition: 2s;
    transform: scale(1.2);
}

#footer #footer__right .banquyen {
    font-size: 18px;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3c3c3c;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#back-to-top:hover {
    background-color: #4A9130;
}


/* *************END************* */